.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	justify-content: center;
	align-items: center;

	.child {
		display: flex;
		flex-flow: column;
		background-color: $white;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 10px;
		max-width: 400px;

		@media screen and (max-width: 430px), (max-height: 830px) {
			max-width: 100%;
			height: 100%;
			border-radius: 0;
		}

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			text-align: center;
			min-height: 50px;
			color: $white;
			background-color: $dark-red;
			font-weight: bold;

			@media screen and (max-width: 430px), (max-height: 830px) {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		.content {
			display: flex;
			flex-flow: column;

			@media screen and (max-width: 430px), (max-height: 830px) {
				flex-grow: 1;
				overflow: auto;
			}

			.item {
				display: flex;
				flex-flow: column;
				align-items: center;
				padding: 0 20px;

				.product-image {
					margin: 20px 0;
					max-width: 300px;
				}

				.product-title {
					color: $dark-red;
					font-size: 1.25rem;
					margin: 10px 0 0 0;
				}

				.product-description {
					font-weight: normal;
					font-size: 0.9rem;
					text-align: center;
				}

				.product-price {
					margin-bottom: 20px;
					font-weight: bold;
					font-size: 1.5rem;
				}
			}

			.divider {
				min-height: 1px;
				background-color: $grey;
			}
		}

		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 15px;

			@media screen and (max-width: 430px), (max-height: 830px) {
				margin-top: 15px;
			}
		}
	}
}
